#butt {
	height: 50%;
	margin: 0 auto;
	transition: 0.05s;
	-webkit-transition: 0.05s;
}

#counter {
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 72px;
	font-family: font-family: 'Lato', Helvetica, sans-serif;
}

#level {
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 24px;
	font-family: font-family: 'Lato', Helvetica, sans-serif;
}